@font-face {
    font-family: "icons";
    src: url("./icons.woff?eda2e24f29c53571c114332d13cbf949") format("woff"),
url("./icons.woff2?eda2e24f29c53571c114332d13cbf949") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-la-sort-numeric-down:before {
    content: "\f101";
}
.icon-mat-access_time:before {
    content: "\f102";
}
.icon-mat-add_box:before {
    content: "\f103";
}
.icon-mat-add:before {
    content: "\f104";
}
.icon-mat-arrow_back_ios:before {
    content: "\f105";
}
.icon-mat-arrow_back:before {
    content: "\f106";
}
.icon-mat-arrow_downward:before {
    content: "\f107";
}
.icon-mat-arrow_drop_down:before {
    content: "\f108";
}
.icon-mat-arrow_forward:before {
    content: "\f109";
}
.icon-mat-arrow_upward:before {
    content: "\f10a";
}
.icon-mat-cancel:before {
    content: "\f10b";
}
.icon-mat-check_circle:before {
    content: "\f10c";
}
.icon-mat-check:before {
    content: "\f10d";
}
.icon-mat-checklist:before {
    content: "\f10e";
}
.icon-mat-chevron_left:before {
    content: "\f10f";
}
.icon-mat-chevron_right:before {
    content: "\f110";
}
.icon-mat-clear_all:before {
    content: "\f111";
}
.icon-mat-clear:before {
    content: "\f112";
}
.icon-mat-close:before {
    content: "\f113";
}
.icon-mat-cloud_upload:before {
    content: "\f114";
}
.icon-mat-code:before {
    content: "\f115";
}
.icon-mat-done_all:before {
    content: "\f116";
}
.icon-mat-done:before {
    content: "\f117";
}
.icon-mat-edit:before {
    content: "\f118";
}
.icon-mat-error:before {
    content: "\f119";
}
.icon-mat-first_page:before {
    content: "\f11a";
}
.icon-mat-font_download:before {
    content: "\f11b";
}
.icon-mat-format_align_center:before {
    content: "\f11c";
}
.icon-mat-format_align_justify:before {
    content: "\f11d";
}
.icon-mat-format_align_left:before {
    content: "\f11e";
}
.icon-mat-format_align_right:before {
    content: "\f11f";
}
.icon-mat-format_bold:before {
    content: "\f120";
}
.icon-mat-format_clear:before {
    content: "\f121";
}
.icon-mat-format_indent_decrease:before {
    content: "\f122";
}
.icon-mat-format_indent_increase:before {
    content: "\f123";
}
.icon-mat-format_italic:before {
    content: "\f124";
}
.icon-mat-format_list_bulleted:before {
    content: "\f125";
}
.icon-mat-format_list_numbered:before {
    content: "\f126";
}
.icon-mat-format_quote:before {
    content: "\f127";
}
.icon-mat-format_size:before {
    content: "\f128";
}
.icon-mat-format_underlined:before {
    content: "\f129";
}
.icon-mat-fullscreen:before {
    content: "\f12a";
}
.icon-mat-grade:before {
    content: "\f12b";
}
.icon-mat-gradient:before {
    content: "\f12c";
}
.icon-mat-help:before {
    content: "\f12d";
}
.icon-mat-info:before {
    content: "\f12e";
}
.icon-mat-keyboard_arrow_down:before {
    content: "\f12f";
}
.icon-mat-keyboard_arrow_left:before {
    content: "\f130";
}
.icon-mat-keyboard_arrow_right:before {
    content: "\f131";
}
.icon-mat-keyboard_arrow_up:before {
    content: "\f132";
}
.icon-mat-last_page:before {
    content: "\f133";
}
.icon-mat-lens:before {
    content: "\f134";
}
.icon-mat-link:before {
    content: "\f135";
}
.icon-mat-menu:before {
    content: "\f136";
}
.icon-mat-more_vert:before {
    content: "\f137";
}
.icon-mat-navigate_before:before {
    content: "\f138";
}
.icon-mat-navigate_next:before {
    content: "\f139";
}
.icon-mat-play_arrow:before {
    content: "\f13a";
}
.icon-mat-playlist_add_check:before {
    content: "\f13b";
}
.icon-mat-print:before {
    content: "\f13c";
}
.icon-mat-priority_high:before {
    content: "\f13d";
}
.icon-mat-redo:before {
    content: "\f13e";
}
.icon-mat-refresh:before {
    content: "\f13f";
}
.icon-mat-remove:before {
    content: "\f140";
}
.icon-mat-search:before {
    content: "\f141";
}
.icon-mat-settings:before {
    content: "\f142";
}
.icon-mat-strikethrough_s:before {
    content: "\f143";
}
.icon-mat-style:before {
    content: "\f144";
}
.icon-mat-text_format:before {
    content: "\f145";
}
.icon-mat-today:before {
    content: "\f146";
}
.icon-mat-tune:before {
    content: "\f147";
}
.icon-mat-undo:before {
    content: "\f148";
}
.icon-mat-vertical_align_bottom:before {
    content: "\f149";
}
.icon-mat-vertical_align_top:before {
    content: "\f14a";
}
.icon-mat-vertical_split:before {
    content: "\f14b";
}
.icon-mat-view_agenda:before {
    content: "\f14c";
}
.icon-mat-volume_up:before {
    content: "\f14d";
}
.icon-mat-warning:before {
    content: "\f14e";
}
.icon-mdi-arrow-expand-horizontal:before {
    content: "\f14f";
}
.icon-mdi-content-copy:before {
    content: "\f150";
}
